.gameContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > div {
    margin-bottom: 30px;
  }
}

.resultContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .resultBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
  }

  & > div {
    margin-bottom: 30px;
  }
}

.answerListContainer {
  margin-bottom: 20px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .answerListContainer {
    margin-left: 0;
  }
}

.guessFormContainer {
  margin-bottom: 20px;
  background-color: #FFEEBB;
  border: 0.5px solid black;
  border-radius: 4px;
  padding: 20px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .guessFormContainer {
    margin-right: 0;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}